body {
    transition: all .3s;
}

.main-display {
    height: 100vh;
    width: 100%;
    position: relative;
}

.custom-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 27px;
    padding-bottom: 3px;
    background-color: #d1ecf1;
    z-index: 1000;
}

.custom-navbar h3 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: rgb(97, 97, 97);
}

.bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-menu button {
    flex: 1;
    background-color: #d1ecf1;
    border: none;
    outline: none;
    padding-top: 3px;
}

.bottom-menu img {
    margin: auto;
    display: block;
    width: 30px;
    height: 30px;
}

.bottom-menu small {
    display: block;
    font-size: 10px;
}

.page-holder {
    padding: 60px 10px;
    height: 100vh;
    overflow: auto;
}

.card-profile {
    border: none;
}

.avatar {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
}

.form-profile {
    margin-top: 20px;
    padding: 0 20px;
}

.btn img {
    width: 20px;
    height: 20px;
}

.card-title {
    margin: 0;
}

.btn-add {
    position: fixed;
    bottom: 160px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: #007bff;
    outline: none;
}

.contacts {
    margin-top: 20px;
}

.page-settigns p {
    margin: 0;
}

.switch {
    width: 50px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(221, 221, 221);
    padding: 2px;
    transition: background .3s;
}

.switch-circle {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 100%;
    transition: transform .3s;
}

.switch-active {
    background-color: rgb(119, 218, 99);
}

.switch-active
.switch-circle {
    transform: translateX(20px);
}

/* DARK THEME */
.theme-dark .custom-navbar {
    background-color: rgb(43, 43, 43);
}

.theme-dark .custom-navbar h3 {
    color: rgb(172, 172, 172);
}

.theme-dark .bottom-menu button {
    background-color: rgb(43, 43, 43);
}

.theme-dark .page-holder {
    background-color: #232323;
}

.theme-dark .list-group-item {
    background-color: #232323;
    color: rgb(223, 223, 223);
    border-color: #414141;
}

.theme-dark .form-control {
    background-color: #232323;
    color: rgb(223, 223, 223);
    border-color: #484848;
}

.theme-dark .card-profile {
    background-color: #232323;
}

.theme-dark .card-title,
.theme-dark .card-text {
    color: rgb(223, 223, 223);
}

.theme-dark .btn-light {
    background-color: #232323;
    border-color: #232323;
    color: rgb(134, 134, 134);
}

.theme-dark .modal-content {
    background-color: #2e2e2e;
}

.theme-dark .modal-header {
    border-color: #5a5a5a;
}

.theme-dark .modal-title {
    color: rgb(223, 223, 223);
}
.theme-dark small{
    color: white;
}
.theme-dark .todoBtn{
    color: white;
}
.theme-dark svg path{

    fill: white;
}
.theme-dark .editable{
    background: gray;
}

.todoitem-container {
    display: grid;
    grid-template-areas: "checkbox text correct";
    grid-template-columns: 30px 1fr 20px;
    border-radius: 5px;
    background-color: rgba(190, 190, 191, 0.24);
    padding: 10px 5px;

}

.checkbox {
    grid-area: checkbox;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border: 1px solid #282828;
    transition: all .3s;
    align-self: center;
    outline: 0;

}

.checkbox-checked {
    background: url("../img/icons/check.svg") no-repeat center center /cover;
    border: none;
    transform: scale(1.2, 1.2);

    animation: pulse .3s;
    outline: 0;
}
.checkbox:active, .checkbox:focus{
    outline: 0;
}
@keyframes pulse {
    0% {

    }
    10% {
        transform: scale(0.8, 0.8);
    }
}

.todoitem {
    grid-area: text;
    margin-top: -2px;
    z-index: 1;
}
.todoitem-checked{
    text-decoration: line-through;
}

.correct {
    grid-area: correct;
    flex-shrink: 0;
    background: url("../img/icons/correct.svg") no-repeat center center /contain;
    height: 20px;
    width: 20px;
    right: 5px;
    z-index: 5;
    border: none;
    transition: all .4s;

}

.correct-active {
    background: url("../img/icons/correct-active.svg") no-repeat center center /contain;
    transform: rotate(360deg);
    transition: all .4s;

}


.list .list-group-item {
    border: none;
    padding: 5px 5px;
}

.toDoControls {
    bottom: 43px;
    height: 45px;
}

.todoBtn {
    font-size: 12px;
    font-weight: 600;

}

.btn-cor {
    background: none;
    border: none;
    outline: none;
}
.btn-cor:active, .btn-cor:focus{
    outline: none;
}
#list-page{
    overflow: auto;
    height: 93%;
}
.editable{
    background: #ffffff;
    border-radius: 5px;
    outline: none;
}
